/* Styles for the editor */
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #e6f7ff;
  color: #0056b3;
}

.output {
  background-color: #000000;
  border: 1px solid #373737;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  white-space: pre-wrap;
}
