/* .login-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
}

.login-container input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container p {
  color: red;
  margin-top: 10px;
} */

body
{
  background-image: url("../../public/savana_wallpaper_rogned.jpg");
  background-size : cover;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #B7B7B7;
}

.login-form h1 {
  margin-bottom: 30px;
  color: #434343;
  font-size: 90px;
  font-family: 'Amatic SC';
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #434343;
  background-color: #777777;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.login-form button {
  width: 50%;
  padding: 10px;
  background-color: #777777;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.login-form button:hover {
  background-color: #666666;
}

input::placeholder {
  color: #ffffff;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #ffffff;
}

input::-ms-input-placeholder {
  color: #ffffff;
}