/* .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 100%;
    max-width: 1920px;
    height: 100%; 
    max-height: 1080px;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.popup-content {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 45%;
}

h2 {
    text-align: center;
    background-color: #9E9E9E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.edit-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: -20px;
}

.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.info-button, .logout-button, .option-button {
    background-color: #606060;
    border-color: #303031;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    flex-grow: 1;
}

.info-value {
    background-color: #8E8E8E;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 10px;
    color: white;
    text-align: center;
}

.logout-button {
    color: white;
}

.popup-inner {
    background-color: #B0B0B0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup-inner h2 {
    background-color: #9E9E9E;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.popup-inner input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #8E8E8E;
}

.popup-inner button {
    background-color: #606060;
    border-color: #303031;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    color: white;
    width: 100%;
}

.popup-inner button:last-of-type {
    background-color: #D9534F;
} */


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B7B7B7;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 100%;
    max-width: 1176px;
    height: 100%;
    max-height: 700px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #999999;
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.back-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666666;
    font-weight: 1000;
    transition: color 0.3s ease;
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.popup-content {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 48%;
    padding: 10px;
}

h2 {
    text-align: center;
    background-color: #999999;
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.edit-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #666666;
    margin-top: 60px;
}

.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.info-button, .info-button-spaced, .logout-button, .option-button {
    background-color: #666666;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.info-button-spaced {
    margin-left: 10px;
}

.option-button {
    margin: 6px 0;
}

.info-value, .info-value-spaced {
    flex-grow: 1;
    color: #ffffff;
    background-color: #999999;
    border: none;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.info-value {
    width: 100%;
}

.info-value-spaced {
    width: calc(100% - 20px);
}

.logout-button {
    /* background-color: #ff6347; */
    background-color: #D9534F;
}

.logout-button:hover {
    /* background-color: #ff4500; */
    background-color: #C9302C;
}

.option-button:hover, .info-button:hover, .info-button-spaced:hover {
    background-color: #555555;
}

.edit-button:hover, .back-button:hover {
    color: #555555;
}

.popup-inner {
    background-color: #B7B7B7;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-weight: 600;
}

.popup-inner h2 {
    background-color: #999999;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.popup-inner input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #666666;
}

.popup-inner button {
    background-color: #666666;
    border-color: #434343;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    color: white;
    width: 100%;
}

.popup-inner button:hover {
    background-color: #555555;
    border-color: #323232;
}

.popup-inner button:last-of-type {
    background-color: #D9534F;
}

.popup-inner button:last-of-type:hover {
    background-color: #C9302C;
}