/*body {
    font-family: Arial, sans-serif;
    background-color: #202A44;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /*background-color: #B0B0B0;
    border-radius: 10px;
    width: 100%;
    max-width: 1920px;
    padding: 20px;
    height: 100%; 
    max-height: 1080px; */
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.popup-content {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 45%;
}

h2 {
    text-align: center;
    background-color: #9E9E9E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.edit-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: -20px;
}

.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.info-button, .logout-button, .option-button {
    background-color: #606060;
    border-color: #303031;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    flex-grow: 1;
}

.info-value {
    background-color: #8E8E8E;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 10px;
    color: white;
    text-align: center;
}

.logout-button {
    color: white;
}

.popup-inner {
    background-color: #B0B0B0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup-inner h2 {
    background-color: #9E9E9E;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.popup-inner input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #8E8E8E;
}

.popup-inner button {
    background-color: #606060;
    border-color: #303031;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    color: white;
    width: 100%;
}

.popup-inner button:last-of-type {
    background-color: #D9534F;
}