.menu-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B7B7B7;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #999999;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.back-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666666;
    font-weight: 1000;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #555555;
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 24px;
    color: white;
}

.user-list {
    width: 100%;
}

.user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;
}

.user-info, .user-role, .action-button {
    background-color: #999999;
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

.user-info, .user-role {
    flex-grow: 1;
}

.user-info {
    width: 380px;
    margin-right: 10px;
}

.action-button {
    background-color: #666666;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.action-button:hover {
    background-color: #555555;
}

hr {
    border: 1px solid #444444;
    width: 100%;
    margin: 10px 0;
}
